{% extends 'RIP_lab/base.html' %}

{% block title %}ГлавЦветТорг{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <h1>Здравствуйте, уважаемые посетители!</h1>
    Пожалуйста, выберите один из разделов сайта:

    <ul>
        {% for topic in topics %}
            <li><a href="{% url 'topic_url' topic.url %}">{{ topic.title }}</a> </li>
        {% empty %}
            <li>Список пуст</li>
        {% endfor %}
    </ul>

{% endblock %}
